<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./templates/configsCss.ejs") %>
    <link rel="stylesheet" href="/public/css/home-page-aluno.css">
</head>
<body>
    


    <script src="/public/js/aluno-pages-js/home-page-aluno.js"></script>
</body>
</html>