<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <%- include("./templates/configsCss.ejs") %>
    <link rel="stylesheet" href="/public/css/telaInicial.css"> 
</head>
<body>
    <header>
        <div class="header_content">
            <h1>SGA</h1>
            <nav>
                <a href="">Saiba mais</a>
                <a href="">Suporte</a>
            </nav>
            <div class="login-hiperlink-header">
                <a href="/register">Registrar</a>
                <a href="/login">Login</a>
            </div>
        </div>
    </header>
    <section class="section-title">
        <div class="section-title-content">
            <h1>Seja muito bem-vindo ao <mark>SGA</mark></h1>
            <p><span>S</span>istema de<br><span>G</span>erenciamento de<br><span>A</span>lunos</p>
            <button>Entre em contato conosco</button>
        </div>
    </section>

</body>
</html>