body {
  background: #1C1427;
  width: 100vw;
  height: 100vh;
  position: relative;
}
body .button_page-back {
  position: absolute;
  font-size: 2rem;
  top: 2rem;
  left: 2rem;
  color: #3E00FF;
}
body .section_form {
  background: #1C1427;
  color: #CCFFBD;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
body .section_form .form_content {
  width: 500px;
}
@media (max-width: 700px) {
  body .section_form .form_content {
    width: calc(100% - 6rem);
  }
}
body .section_form .form_content .icon-school {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .section_form .form_content .icon-school i {
  color: #3E00FF;
  font-size: 4rem;
}
body .section_form .form_content .quest-form {
  margin-top: 2rem;
}
body .section_form .form_content .quest-form form .password_verify-security .input_form .icon-visibility-pass {
  position: absolute;
  font-size: 1.7rem;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  cursor: pointer;
}
body .section_form .form_content .quest-form form .password_verify-security p {
  color: #F7EC09;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}
body .section_form .form_content .quest-form form .input_form {
  width: 100%;
  position: relative;
  height: 50px;
  margin-top: 1rem;
  transition: 0.3s;
}
body .section_form .form_content .quest-form form .input_form input {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  position: absolute;
  font-size: 1.1rem;
  color: white;
  background: #3E00FF;
}
body .section_form .form_content .quest-form form .input_form input:focus {
  outline: none;
}
body .section_form .form_content .quest-form form .input_form label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
  color: #B5FFD9;
  transition: 0.3s;
}
body .section_form .form_content .quest-form form .input_form input:focus ~ label, body .section_form .form_content .quest-form form .input_form input:valid ~ label {
  top: 0;
  font-size: 0.9rem;
  background: rgba(72, 0, 50, 0.5294117647);
  backdrop-filter: blur(2px);
}
body .section_form .form_content .quest-form form .input_form .icon-visibility {
  opacity: 0;
  position: absolute;
  font-size: 1.7rem;
  top: 50%;
  right: 17px;
  cursor: pointer;
  transform: translateY(-50%);
  transition: 0.3s;
}
body .section_form .form_content .quest-form form .input_form input:valid ~ .icon-visibility {
  opacity: 1;
}
body .section_form .form_content .quest-form form .input_form .pop_alertInput {
  transition: 0.3s;
  position: absolute;
  width: 3.4rem;
  right: -4rem;
  z-index: 0;
  height: 100%;
  background: #F7EC09;
  color: #40394A;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .section_form .form_content .quest-form form .input_form .translate-alert {
  transform: translate(-4rem);
}
body .section_form .form_content .quest-form form .button_submit-container {
  height: 2.5rem;
  margin-top: 1rem;
}
body .section_form .form_content .quest-form form .button_submit-container .button-submit {
  all: unset;
  height: 100%;
  font-size: 1rem;
  border: 1.3px solid #FD841F;
  background: #FD841F;
  cursor: pointer;
  padding: 0 1.3rem;
  color: #1C1427;
  text-transform: uppercase;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .section_form .form_content .quest-form form .button_submit-container .button-submit i {
  font-size: 1.4rem;
}
body .section_form .form_content .quest-form form .button_submit-container .button-submit:hover {
  background: transparent;
  color: #FD841F;
}
body .section_form .form_content .quest-form form .button_submit-container .button-submit:hover i {
  color: #FD841F;
}

.translate-form {
  opacity: 0;
  transform: translate(-100vw);
}

/*# sourceMappingURL=telaLogin-register.css.map */
